
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1473411457'); /* IE9*/
  src: url('iconfont.eot?t=1473411457#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1473411457') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1473411457') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1473411457#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 5px;
}
.icon-shouye2-copy:before { content: "\e600"; }
.icon-guanyu:before { content: "\e698"; }
.icon-te:before { content: "\e604"; }
.icon-guanlizuopin:before { content: "\e615"; }
.icon-boke:before { content: "\e630"; }
.icon-lianxi:before { content: "\e601"; }
.icon-xingming:before { content: "\e611"; }
.icon-jiguan:before { content: "\e650"; }
.icon-xianjudi:before { content: "\e67c"; }
.icon-iconfontqq:before { content: "\e649"; }
.icon-biyexuexiao:before { content: "\e6dd"; }
.icon-zhiye:before { content: "\e84b"; }
.icon-jingyingnianxian:before { content: "\e616"; }
.icon-github:before { content: "\e735"; }
.icon-phone:before { content: "\e640"; }
.icon-html:before { content: "\e6c6"; }
.icon-css:before { content: "\e844"; }
.icon-pcjs:before { content: "\e619"; }
.icon-bootstrap:before { content: "\e602"; }
.icon-nodejs:before { content: "\e989"; }
.icon-socialangular:before { content: "\e8e3"; }
.icon-icoxiashuangjiantou:before { content: "\e605"; }
.icon-nengliqiang:before { content: "\e610"; }
.icon-email:before { content: "\e606"; }
.icon-jquery:before { content: "\e603"; }
